# Configurações do Banco de Dados (Supabase)
# Pegue sua connection string no Supabase e coloque aqui:
DATABASE_URL="postgres://usuario:senha@host:porta/database"

# Configurações do JWT (Escolha uma chave secreta e forte)
JWT_SECRET="sua_chave_secreta_aqui"

# Porta da aplicação
PORT=0000